<!DOCTYPE html>
<html>
	<head>
		<title><%= status %> <%= msg %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<% include menu %>
		<h1><%= status %> Error</h1>
		<p><%= msg %></p>
		<p>
			Try refresshing the page. If the problem persists then we are are already working on it.
		</p>
	</body>
</html>